h2{
    font-weight: bold;
    text-align: center;
}
h3{
    text-align: center;
}

.Caixa{
    background-color:#2ecc71;
    width: 200px;
    height: 180px;
    border: 3px #27ae60 solid;   
    text-align: center;
    padding: 25px 25px;    
    color: white;
    margin: 0 auto;
    border-radius: 10px;
}
